@import "../../assets/styles/globals.scss";

.navigation-anchor {
    height: 50px;
    width: 50px;

    right: 0;

    position: absolute;
    z-index: 997;

    display: flex;
    align-items: center;
    justify-content: center;

    //border: 1px solid $gray-2;
}

.navigation-bg {
    border-radius: 50%;

    position: fixed;
    z-index: 997;

    background-color: $gray-7;
    //border: 1px solid $gray-2;

    animation: fadeIn ease-in-out 1s forwards;
}

@keyframes fadeIn {
    0% {opacity: 0; height: 0vh; width: 0vh;}
    100% {opacity: 1; height: 350vw; width: 350vw;}
}