@import "../../assets/styles/globals.scss";

header {
    //height: 4.5em;

    width: 100%;
    box-sizing: border-box;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 999;
    
    //border: 1px solid red;

    color: $white;
}

.side-progress-bar {
    height: 7px;
    background: $gradient-0;
    border-radius: 5px;

    width: 100%;

    box-shadow:  2px 2px 5px rgba(#fff, 0.2),
                -2px -2px 5px rgba(#000, 1);

    -webkit-transition: width 0.4s ease-out;
    -moz-transition: width 0.4s ease-out;
    -o-transition: width 0.4s ease-out;
    transition: width 0.4s ease-out;
}

.navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    box-sizing: border-box;
    padding: 0 2em;

    //border: 1px solid cyan;
}