@import "../../assets/styles/globals.scss";

header {
    height: 4.5em;
    padding: 0 2em;

    width: 100%;
    box-sizing: border-box;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 999;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    border: 1px solid $gray-2;
}