@import "../../assets/styles/globals.scss";

footer {
    height: 8em; //4.5em
    padding: 0 2em 0.5em 2em;

    width: 100%;
    box-sizing: border-box;

    position: fixed;
    bottom: 0;
    left: 0;

    z-index: 100;

    display: flex;
    flex-direction: row;
    //justify-content: space-between;
    justify-content: center;
    align-items: flex-end;

    color: $white;

    pointer-events: none;
    
    //border: 1px solid $gray-2;
}

.footer-column {
    //width: calc(100% / 3);
    width: fit-content;
    display: flex;
    flex-direction: row;
}

#footer-column-left {
    justify-content: flex-start;
    opacity: 0.5;
    text-align: left;
}

#footer-column-mid {
    justify-content: center;
}

#footer-column-right {
    justify-content: flex-end;
}