@import "../../assets/styles/globals.scss";

footer {
    padding: 2em;

    width: 80%;
    margin-left: 10%;

    color: $white;
}

.footer-wrapper {
}

.footer-box-wrapper {
    background: linear-gradient(315deg, #0F0A06, #1A140F);
    box-sizing: border-box;
    border-radius: 50px;
    padding: 60px;

    box-shadow:  -20px -20px 60px rgba(#000, .75),
                    20px 20px 60px rgba(#fff, .05);

    text-align: left;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-email-hover {
    .item-divider {
        width: 100%;
    }
}

.footer-text-wrapper {
    margin-top: 50px;
}

.contact-email {
    margin-top: 32px;
    margin-bottom: 32px;
}

.image-wrapper {
    height: 100%;
    //border: 1px solid red;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    height: 350px;
    width: 350px;
    border-radius: 40px;

    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    
    box-shadow:  -20px -20px 60px rgba(#000, .75),
                    20px 20px 60px rgba(#fff, .05);
}

.icon-button {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin-top: 50px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow:  4px 4px 8px rgba(#fff, 0.1),
                -4px -4px 8px rgba(#000, 1);
}