@import "./assets/styles/globals.scss";

.container {
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;

  overflow-x: hidden;

  position: relative;
  text-align: center;

  background: $main-gradient;
}
