@import "./assets/styles/globals.scss";

.root, html, body {
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
}

body {
  font-family: $primary-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
