$white: #ffffff;
$gray-1: #f6f9fc;
$gray-2: #e0e8f0;
$gray-3: #cdd6e0;
$gray-4: #a5b5c4;
$gray-5: #97a7ba;
$gray-6: #4c5f72;
$gray-7: #0c273b;
$black: #100c08;

$main-bg: #100c08;

$primary-1: #D91616;
$primary-2: #100c08;
$primary-3: #ffffff;

$neon-1: #6af3b1;
$neon-2: #554fee;
$neon-3: #de4dd0;

$gradient-0: linear-gradient(135deg, $neon-1 0%, $neon-2 50%, $neon-3 100%);
$gradient-1: linear-gradient(135deg, $neon-3 0%, $neon-2 50%, $neon-1 100%);
$gradient-2: linear-gradient(135deg,$neon-1 0%, $neon-2 100%);
$gradient-3: linear-gradient(135deg, $neon-2 0%,$neon-3 100%);