.dot-link {
    -webkit-transition: transform 0.2s ease-out;
    -moz-transition: transform 0.2s ease-out;
    -o-transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
    
    a {
        color: $white;
        opacity: 0.9;
    }

    &:after {
        position: absolute;
        content: ".";

        -webkit-transition: all 1s ease-out;
        -moz-transition: all 1s ease-out;
        -o-transition: all 1s ease-out;
        transition: all 1s ease-out;
    }

    &:hover {    
        opacity: 1;
        transform: scale(1.1)!important;

        &:after {
            content: ".";
            transform: translateX(50px);
            opacity: 0;
        }
    }
}

.arrow-link {
    font-size: 16pt;
    font-weight: 900;
    color: $white;
    display: inline-block;

    -webkit-transition: transform 0.2s ease-out;
    -moz-transition: transform 0.2s ease-out;
    -o-transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out;

    &:after {
        position: absolute;
        margin-left: 0.4em;
        content: ">";

        -webkit-transition: all 1s ease-out;
        -moz-transition: all 1s ease-out;
        -o-transition: all 1s ease-out;
        transition: all 1s ease-out;
    }

    &:hover {    
        opacity: 1;
        //transform: scale(1.02)!important;

        &:after {
            content: ">";
            transform: translateX(50px);
            opacity: 0;
        }
    }
}