$white: #ffffff;
$gray-1: #f6f9fc;
$gray-2: #e0e8f0;
$gray-3: #cdd6e0;
$gray-4: #a5b5c4;
$gray-5: #97a7ba;
$gray-6: #4c5f72;
$gray-7: #0c273b;
$black: #100c08;

$main-bg: #100c08;

$main-gradient: linear-gradient(135deg,rgba(85,79,238,1) 0%, rgba(222,77,208,1) 100%);
//$main-gradient: linear-gradient(135deg, rgba(106,243,177,1) 0%, rgba(85,79,238,1) 50%, rgba(211,62,197,1) 100%);